* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #333;
	color: #fff;
}

body {
	font-family: Arial, sans-serif;
	background-color: #333;
	color: #fff;
}


nav ul {
        display: flex;
	justify-content: space-around;	
	list-style: none;
	margin: 0;
	padding: 0;
}
	
}

nav a {
	display: block;
 	text-decoration: none;
	color: #fff;
	padding: 10px;
}



nav a:hover {
  background-color: #444;
}

#opening {
	padding-top: 5px;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
}

.opening-dock {
	text-align: center;
	max-width: 800px;
	margin: 0 auto;
 	padding: 50px;
 	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 10px;	
}


#closing {
	/*padding: 50px;*/
}

.closing-dock {
	margin: 20px 0;
	padding: 20px;
	align-items: center;
	background-color: #444;
	border-radius: 10px;
}
